/* fonts.css */

@font-face {
    font-family: inter;
    src: url("../assets/fonts/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: inter;
    src: url("../assets/fonts/Inter_18pt-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: inter;
    src: url("../assets/fonts/Inter_18pt-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: inter;
    src: url("../assets/fonts/Inter_18pt-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}